[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
PyJWT= "*"
SQLAlchemy = "*"
marshmallow-sqlalchemy = "*"
marshmallow = "*"
flask-marshmallow = "*"
Flask-SQLAlchemy = "*"
psycopg2 = "*"
psycopg2-binary = "*"
gunicorn = "*"
python-dotenv= "*"
alembic = "*"
Flask-Migrate = "*"
Flask-Script = "*"
Flask-Login = "*"
flask-restful = "*"

[dev-packages]

[requires]
python_version = "3.8"
